{% extends 'index.html' %}

{% block title %}Модуль{% endblock %}

{% block content %}
    <div class="content">
        <div class="body">
            <div class="zag open-sans-700">
                Модуль планирования заказов на поставку
            </div>
            <div class="flexible">
                <div class="left_side open-sans-600">
                    <p>Данный продукт будет разрабатываться для размещения на сервере компании, а также будет ориентирован на планирование заказов на закупку на предприятие. В отличие от облачных решений, модуль не требует постоянного подключения к внешним системам или сложных настроек для работы, что снижает стоимость и делает его более доступным.</p>
                    <p>Потенциальными пользователями модуля являются средний и крупный бизнес, для которых необходимо решать вопросы с наличием неликвидных запасов и для которых остановка производственной деятельности является критичной из-за отсутствия необходимых материалов.</p>
                    <p>В состав поставки входят:</p>
                    <p>1. Продукт предусматривает возможность установки на сервер компании, что обеспечивает гибкость и независимость от сторонних облачных сервисов.</p>
                    <p>2. Техническая документация с инструкциями по установке и использованию. Модуль будет размещён на сервере компании, а установку продукта проведёт сотрудник компании с использованием предоставленного установочного пакета, либо IT-отделом.</p>
                </div>
                <div class="right_side">
                    {% load static %}
                    <img src="{% static 'img/oneclogo.png' %}" style="width: 100%;"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}