{% extends 'index.html' %}

{% block title %}1С:Специалист{% endblock %}

{% block content %}
    <div class="content">
        <div class="body">
            <div class="zag open-sans-700">
                Что такое «1С»
            </div>
            <div class="podzag open-sans-600" id="podzag">
                Что такое «1С»
            </div>
            <div class="flexible">
                <div class="table_l">
                    <div class="section active open-sans-500" onclick="check('about')" id="about" style="font-size: 24px;">
                        Что такое «1С»
                    </div>
                    <div class="section open-sans-500 large" onclick="check('which')" id="which" style="font-size: 24px;">
                        Какие бывают конфигурации «1С»
                    </div>
                    <div class="section open-sans-500 large" onclick="check('forwhat')" id="forwhat" style="font-size: 24px;">
                        Для чего нужны программы «1С»: области применения и примеры
                    </div>
                    <div class="section open-sans-500 large" onclick="check('how')" id="how" style="font-size: 24px;">
                        Как проходит внедрение «1С» в компании
                    </div>
                    <div class="section open-sans-500 large" onclick="check('main')" id="main" style="font-size: 24px;">
                        Главное о программах «1C»
                    </div>
                </div>
                <div class="table_r">
                    <div class="about visible" style="width: auto;">
                        <div class="text open-sans-500">
                            <h3>Что такое «1С»</h3>
                            <p>«1С» — это группа программ для автоматизации бизнес-процессов, одноимённый язык, на котором эти программы написаны, и платформа, на которой всё это работает. Это сложное определение, но мы разберём его по частям.</p>
                            <p>Начнём с конца — с платформы. Платформа «1С» — это программа, созданная компанией «1С». Платформа нужна, чтобы внутри неё работали другие программы. Они называются конфигурациями.</p>
                            <p>Конфигурации — это прикладные программы. Каждая из них решает те или иные задачи бизнеса. Есть конфигурации для бухгалтерии, учёта кадров, управления производством и множество других.</p>
                            {% load static %}
                            <div class="img_text" style="display: flex; width: 100%; justify-content: center; justify-items: center; text-align: center; flex-direction: column;">
                                <img src="{% static 'img/interface.png' %}" style="display: flex; width: 80%"/>
                                <p style="font-size: 16px;">Так выглядит интерфейс программы «1С:Предприятие»</p>
                            </div>
                            <p>Конфигурации пишут на внутреннем языке программирования, который встроен в платформу. Он называется так же, как и платформа, — язык 1С. Разработчики, которые владеют этим языком, могут создавать свои конфигурации. Неважно, работают они в компании «1С» или нет. А вот код платформы закрыт, его может менять только компания.</p>                            
                            <p>Чтобы пользоваться «1С», не нужно знать встроенный язык программирования. Пользователи меняют не код конфигураций, а сведения, которые хранятся в рабочих базах данных. Когда сотрудник загружает, например, номенклатуру товаров или данные о работниках, вся эта информация попадает в базу данных. С ней и будут работать другие сотрудники.</p>
                            <p>Поэтому, если кто-то говорит «у нас в компании есть „1С“», это может значить что угодно. Например, это может быть конфигурация «1С:Бухгалтерия». Или специализированная конфигурация для управления логистикой и складом. А может быть, в компании есть целая команда 1С-разработчиков, которая создала уникальную группу программ под задачи этого бизнеса.</p>
                        </div>
                    </div>
                    <div class="which none">
                        <div class="text open-sans-500">
                            <h3>Какие бывают конфигурации «1С»</h3>
                            <p>Конфигурации «1С» делятся на типовые и нетиповые. Типовые выпускает компания «1С». Такие программы разработаны для решения или стандартных задач, которые есть во многих компаниях, например задач бухгалтерии, или специфических задач отрасли — например, лесного хозяйства.</p>
                            <p>Примеры типовых конфигураций: «1С:Бухгалтерия», «1С:Зарплата и управление персоналом», «1С:Касса». Типовых конфигураций — десятки. В марте 2023 года только в списке демоверсий на сайте «1С» было 32 программы.</p>
                            <div class="img_text" style="display: flex; width: 100%; justify-content: center; justify-items: center; text-align: center; flex-direction: column;">
                                <img src="{% static 'img/demo.png' %}" style="display: flex; width: 80%"/>
                                <p style="font-size: 16px;">Так выглядит интерфейс программы «1С:Предприятие»</p>
                            </div>
                            <p>Эти программы можно купить на сайте «1C» или у дистрибьюторов. Каждую программу можно адаптировать под индивидуальные задачи компании — например, добавить дополнительные функции или изменить интерфейс.</p>
                            <p>Нетиповые конфигурации выпускают сторонние разработчики, которые владеют языком программирования 1С. Нетиповые конфигурации создают под задачи компании с нуля или делают на базе типовых. Поэтому такие программы часто не подходят другим компаниям.</p>

                        </div>
                    </div>
                    <div class="forwhat none">
                        <div class="text open-sans-500">
                            <h3>Для чего нужны программы «1С»: области применения и примеры</h3>
                            <p>Продукты «1С» охватывают практически все функции бизнеса и государственных организаций. Мы перечислим сферы, в которых программы «1С» применяют чаще всего.</p>
                            <p><span class="open-sans-700">Управление торговлей и взаимоотношениями с клиентами: CRM. </span>С помощью этих программ ведут базы данных клиентов и контрагентов, автоматизируют воронки продаж, контролируют продажи и сервис.</p>
                            <p>Примеры программ: «1С:CRM», «1С:Маркетинг. Лидогенерация», «1С:Управление торговлей и взаимоотношениями с клиентами (CRM)».</p>
                            <p><span class="open-sans-700">Бухгалтерский и налоговый учёт. </span>С помощью таких программ собирают и объединяют первичные данные для учёта, готовят и сдают обязательную отчётность, рассчитывают налоги, контролируют изменения в законодательстве.</p>
                            <p>Примеры программ: «1С:Бухгалтерия», «1С:Упрощенка», «1С:Предприниматель», «1С:Налогоплательщик», «1С:Платежные документы».</p>
                            <p><span class="open-sans-700">Управление персоналом и кадровый учёт: HRM.</span> Программы позволяют хранить в одном месте данные персонала, рассчитывать зарплату, оценивать результаты работы сотрудников по KPI, формировать отчёты.</p>
                            <p>Примеры программ: «1С:Зарплата и управление персоналом», «1С:Зарплата и кадры государственного учреждения», «1С:Оценка персонала».</p>
                            <p><span class="open-sans-700">Проекты и портфели проектов: PMO.</span> Программы для проектного менеджмента. С помощью них контролируют задачи проектов, составляют бюджеты, управляют трудовыми и материальными ресурсами.</p>
                            <p>Примеры программ: «1С:ERP+PM Управление проектной организацией», «1С:PM Управление проектами», «1С:Управление проектным офисом», «1С:Девелопмент и управление недвижимостью».</p>
                            <p><span class="open-sans-700">Ресурсы компании: ERP.</span> Это решения для комплексного управления бизнесом. В них хранят и связывают между собой данные всех бизнес-процессов — например, производства, продаж, логистики, закупок, бухгалтерии, управления персоналом.</p>
                            <p>Примеры программ: «1С:ERP Управление предприятием», «1С:Корпорация», «1С:CRM».</p>
                            <p>Также с помощью 1С-решений можно управлять финансами компании, логистикой и транспортом, инженерными данными и IT, документооборотом, электронным обучением, охраной труда и окружающей среды.</p>
                            <p>Программ очень много. На сайте «1C» сделали фильтр, который облегчает поиск продукта. Если указать отрасль компании и задачу, которую нужно автоматизировать, фильтр подберёт подходящие программы.</p>
                        </div>
                    </div>
                    <div class="how none">
                        <div class="text open-sans-500">
                            <h3>Как проходит внедрение «1С» в компании</h3>
                            <p>Чтобы внедрить у себя «1С», компании нужно совершить три основных действия:</p>
                            <ul class="spisok">
                                <li>Определиться, какое решение необходимо компании: какую задачу или какие процессы нужно автоматизировать.</li>
                                <li>Купить и установить это решение.</li>
                                <li>Обучить сотрудников работать с ним.</li>
                            </ul>
                            <p>За это могут отвечать люди на разных должностях — например, технический директор компании, системный администратор или 1С-аналитик.</p>
                            <p>Сисадмин и технический директор чаще работают с типовыми решениями — их не нужно дорабатывать. Они устанавливают программы и обучают сотрудников работе с ними.</p>
                            <p>1C-аналитики нужны, когда типовое решение нужно адаптировать под индивидуальные задачи компании. Например, переделать программу, чтобы она учитывала особенности цикла продаж или региональные особенности.</p>
                            <p>Вот какие шаги предполагает внедрение нетиповых решений «1C» с участием аналитика:</p>
                            <ul class="spisok">
                                <li>Аналитик изучает специфику работы компании и вместе с заказчиком решает, какие процессы нужно автоматизировать.</li>
                                <li>Аналитик подбирает программные решения «1С». При необходимости подготавливает техзадание на доработку и передаёт его 1С-разработчикам.</li>
                                <li>Разработчики адаптируют типовое решение под запросы компании или разрабатывают нетиповое решение с нуля на базе платформы «1C».</li>
                                <li>Аналитик или разработчики устанавливают, настраивают и запускают подготовленную 1C-программу.</li>
                                <li>Аналитик презентует готовый продукт заказчику и обучает сотрудников работать с ним.</li>
                            </ul>
                            <p>Это идеальная картина внедрения «1С». В реальности всё может быть по-другому. Например, генеральный директор покупает диски с коробочным решением продукта «1С» и устанавливает его. Если в процессе возникают проблемы — связывается с компанией «1С» или её дистрибьюторами, чтобы те помогли.</p>
                        </div>
                    </div>
                    <div class="main none">
                        <div class="text open-sans-500">
                            <h3>Главное о программах «1C»</h3>
                            <ul class="spisok">
                                <li>Программы «1C» — решения для автоматизации бизнес-процессов. С помощью них можно автоматизировать как работу компании в целом, так и её отдельные направления.</li>
                                <li>Все программы «1C» состоят из платформы и конфигураций. Платформа у всех программ одна, её могут менять только разработчики компании «1C». Конфигурации разные, каждая решает свою задачу. Конфигурации могут менять и дорабатывать любые разработчики, владеющие языком программирования 1C.</li>
                                <li>Конфигураций программ «1C» очень много. Самые популярные решения — «1С:Бухгалтерия», «1С:Документооборот», «1С:ERP Управление предприятием».</li>
                                <li>Внедрением программ «1С» в компании могут заниматься разные специалисты — например, технический директор, сисадмин или команда из 1С-аналитика и 1С-разработчиков.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function check(elem) {
        id = document.getElementsByClassName('active')[0].id;
        document.getElementsByClassName('active')[0].className = 'section open-sans-500';
        document.getElementById(elem).className = 'section active open-sans-500';
        document.getElementById('podzag').innerHTML = document.getElementById(elem).innerHTML;
        if (id != elem) {
            document.getElementsByClassName(elem)[0].className = elem+' visible';
            document.getElementsByClassName(id)[0].className = id+' none';
        }
    }
</script>
{% endblock %}