{% extends 'index.html' %}

{% block title %}1С:Специалист{% endblock %}

{% block content %}
    <div class="content">
        <div class="body">
            <div class="zag open-sans-700">
                1С:Специалист
            </div>
            <div class="podzag open-sans-600" id="podzag">
                Об экзамене
            </div>
            <div class="flexible">
                <div class="table_l">
                    <div class="section active open-sans-500" onclick="check('about')" id="about" style="font-size: 24px;">
                        Об Экзамене
                    </div>
                    <div class="section open-sans-500" onclick="check('sert')" id="sert" style="font-size: 24px;">
                        Как получить сертификат
                    </div>
                    <div class="section open-sans-500" onclick="check('exam')" id="exam" style="font-size: 24px;">
                        Подготовка к экзамену
                    </div>
                    <div class="section open-sans-500" onclick="check('blet')" id="blet" style="font-size: 24px;">
                        Примеры билетов
                    </div>
                </div>
                <div class="table_r">
                    <div class="about visible" style="width: auto;">
                        <div class="text open-sans-500">
                            <h3>1С:Специалист – экзамен по конфигурированию/настройке программ</h3>
                            <p>Экзамен проводится с целью проверки соответствия уровня подготовки программистов требованиям, предъявляемым фирмой «1С» к специалистам.</p>
                            <p>Формат "1С:Специалист по конфигурированию прикладного решения" — проверяется понимание методических принципов построения и технологии функционирования конфигурации, навыки практической реализации пользовательских задач, практические навыки конфигурирования в среде "1С:Предприятие 8" для развития существующего или добавления нового функционала прикладного решения. На экзамене необходимо грамотно создать конфигурацию, решающую специфические задачи учета, используя все доступные средства конфигурирования.</p>
                            <p>Формат "1С:Специалист-консультант по внедрению прикладного решения" — проверяется понимание реализованного функционала, методических принципов построения и технологии функционирования прикладного решения, а также умение показать, как потребности заказчика решаются средствами прикладного решения. На экзамене необходимо продемонстрировать методику использования типового прикладного решения и предложить варианты его адаптации с учетом специфики и потребностей предприятия.</p>
                            <p>Экзамен проходит в форме решения практической задачи. Длительность 3-5 часа.</p>
                        </div>
                    </div>
                    <div class="sert none">
                        <div class="text open-sans-500">
                            <h3>Как получить сертификат 1С:Специалист</h3>
                            <p>Получить сертификат "1С:Специалист" — цель каждого начинающего внедренца, программиста или администратора программ "1С". Единственный способ попасть в число обладателей сертификата — пройти аттестационный экзамен. С первого раза это удается не всем — по статистике только четверым из десяти. Экзамен серьезный, на нем требуется продемонстрировать уверенное знание предмета. Данный раздел поможет выбрать оптимальный способ получения этих знаний.</p>
                            <h3>Выбор экзамена</h3>
                            <p>Прежде всего, важно понимать, что "1С:Специалист" — это класс экзаменов, каждый из которых рассчитан на проверку отдельного блока знаний. Экзамены можно разделить на 3 группы:</p>
                            <p>1. 1С:Специалист по платформе "1С:Предприятие 8" (проверяет понимание основных принципов проектирования конфигураций и технологических решений, заложенных в платформе "1С:Предприятие 8" и практические навыки конфигурирования и программирования).</p>
                            <p>2. 1С:Специалист по прикладным решениям "1С:Предприятие 8" (проверяет знание возможностей программы и наличие практических навыков проектирования в среде "1С:Предприятие" для развития существующего и добавления нового функционала прикладных решений. Например, Аттестация "1С:Специалист" по конфигурированию и внедрению бухгалтерской подсистемы в прикладных решениях "1С:Предприятие 8").</p>
                            <p>3. 1С:Специалист-консультант по прикладным решениям "1С:Предприятие 8" (проверяет умение находить адекватные средства программы для решения специфических задач пользователя, верно диагностировать ситуации, требующие внесения изменений/дополнений в программу, умение ставить корректные задачи программистам по адаптации прикладных решений. Например, Аттестация "1С:Специалист-консультант" по внедрению прикладного решения "1С:Бухгалтерия 8").</p>
                            <h3>Запись на экзамен</h3>
                            <p>На любой экзамен нужно записываться предварительно. Форма подачи заявки зависит от способа сдачи экзамена "1С:Специалист":</p>
                            <p>1. Очно в Москве в 1С:Учебном центре № 1;</p>
                            <p>2. Очно в вашем или ближайшем городе на выездной аттестации (периодически организуются аттестации для регионов, чтобы сэкономить на поездке в Москву);</p>
                            <p>3. На дистанционной аттестации (решение передается на проверку в Москву).</p>
                        </div>
                    </div>
                    <div class="exam none">
                        <div class="text open-sans-500">
                            <h3>Подготовка к экзамену</h3>
                            <p>В подготовке к экзаменам Специалист и Специалист-консультант рекомендуется использовать учебные курсы, Сборники задач и методическую литературу.</p>
                            <p>Выбрав экзамен, к нему нужно тщательно подготовиться. Подготовка может занять от нескольких недель до нескольких месяцев, в зависимости от вашей организованности и времени, которое Вы готовы потратить на подготовку.</p>
                            <p>Первый этап подготовки: получить сертификат "1С:Профессионал". Перед каждым "1С:Специалистом" есть экзамен-допуск — "1С:Профессионал", т.е. если Вы планируете сдавать экзамен "1С:Специалист" по программе "1С:Бухгалтерия", то Вам предварительно нужно получить сертификат "1С:Профессионал" по программе "1С:Бухгалтерия 8" или программе "1С:Управление производственным предприятием 8". Экзамен "1С:Профессионал" - это тест, из 14 вопросов теста нужно верно ответить минимум на 12. К "1С:Профессионалу", как и к любому другому экзамену нужно обязательно готовиться, без подготовки его сдать очень трудно. Подробно о подготовке к экзамену "1С:Профессионал" можно почитать на сайте фирмы "1С" в разделе "Курсы 1С / Экзамены 1С / 1С:Профессионал /Подготовка к тестированию".</p>
                            <p>После того, как у Вас будет на руках сертификат "1С:Профессионал", Вы получаете допуск на экзамен "1С:Специалист". Однако это не значит, что нужно сразу идти его сдавать. Вы лишь начали подготовку. Если Вы заинтересованы в результате, нужно продолжать готовиться.</p>
                            <p>Существует три способа подготовки к экзамену "1С:Специалист":</p>
                            <p>1. пройти курсы обучения;</p>
                            <p>2. изучить методическую литературу;</p>
                            <p>3. накопить личный опыт работы по настройке и адаптации программ.</p>
                            <p>В идеале, способы нужно комбинировать.</p>
                        </div>
                    </div>
                    <div class="blet none">
                        <div class="text open-sans-500">
                            <h3>Примеры билетов</h3>
                            <h4>1. Экзамены по платформе "1С:Предприятие 8"</h4>
                            <ul class="spisok">
                                <li><a href="https://static.1c.ru/rus/partners/training/files/ATT83PL.rtf?356jhteyner67j340">"1С:Специалист" по платформе "1С:Предприятие 8.3"</a></li>
                                <li><a href="https://static.1c.ru/rus/partners/training/files/new_carcass_8_3_25_1445.dt">Файл выгрузки ИБ "каркасной" конфигурации для задач по конфигурированию платформы "1С:Предприятие" (вер. 8.3)</a></li>
                                <li><a href="http://v8.1c.ru/metod/books/book.jsp?id=171">Сборник задач для подготовки к экзамену "1С:Специалист" по платформе "1С:Предприятие 8"</a></li>
                                <li><a href="https://static.1c.ru/rus/partners/training/files/primer_iz_sbornika.dt">Пример из Сборника Реализованный</a></li>
                            </ul>
                            <h4>2. Экзамены по "1С:Бухгалтерии 8"</h4>
                            <ul class="spisok">
                                <li><a href="https://static.1c.ru/rus/partners/training/files/TREB_SpB8_3.0.zip?10001">"1С:Специалист" по конфигурированию бухгалтерской подсистемы в прикладных решениях "1С:Предприятие 8" (по редакции 3.0 конфигурации "Бухгалтерия предприятия")</a></li>
                                <li><a href="https://static.1c.ru/rus/partners/training/files/TREB_SpKonsB8_3.0.zip">"1С:Специалист-консультант" по внедрению прикладного решения "1С:Бухгалтерия 8" (по редакции 3.0 конфигурации "Бухгалтерия предприятия")</a></li>
                            </ul>
                            <h4>3. Экзамены по "1С:Бухгалтерия государственного учреждения 8"</h4>
                            <ul class="spisok">
                                <li><a href="https://static.1c.ru/files/Treb_BGU2_0.doc?100001">"1С:Специалист-консультант" по прикладному решению "1С:Бухгалтерия государственного учреждения 8" редакция 2.0</a></li>
                            </ul>
                            <h4>4. Экзамены по "1С:Управление торговлей 8"</h4>
                            <ul class="spisok">
                                <li><a href="https://static.1c.ru/rus/partners/training/files/ATT_UT_Spec11_28_07_22.doc">"1С:Специалист" по конфигурированию и внедрению прикладного решения "1С:Управление торговлей 8" (по редакции 11.5)</a></li>
                                <li><a href="https://static.1c.ru/rus/partners/training/files/ATT_UT_Cons_11_5_2024_10.doc?1">"1С:Специалист-консультант" по внедрению прикладного решения "1С:Управление торговлей 8" (по редакции 11.5)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function check(elem) {
        id = document.getElementsByClassName('active')[0].id;
        document.getElementsByClassName('active')[0].className = 'section open-sans-500';
        document.getElementById(elem).className = 'section active open-sans-500';
        document.getElementById('podzag').innerHTML = document.getElementById(elem).innerHTML;
        if (id != elem) {
            document.getElementsByClassName(elem)[0].className = elem+' visible';
            document.getElementsByClassName(id)[0].className = id+' none';
        }
    }
</script>
{% endblock %}